# Google Sheets API URL
# Get this from your Google Sheet: File > Share > Publish to web > Link
# Make sure to export as JSON format
API_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/gviz/tq?tqx=out:json&sheet=YOUR_SHEET_NAME
